<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'css/basic.css' %}">

    <title>CaronApp</title>
</head>
<body>
    <h1 id="home">
        Bem vindo!
    </h1>
    <h2>Este é o melhor site de caronas!!</h2>
    <br>
    <hr>
    <br>
    <h3>Faça seu login: <br>em breve...</h3>
    <h4>Ou <a href="/signup">cadastre-se</a></h4>

    <p>
        {% for user in users %}
            <p>{{ user.name }} and {{ user.email }}</p>
        {% endfor %}
    </p>
</body>
</html>